<%- include header %>
<div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked" id="sidebar">
            </ul>
        </div>
        <!-- <div class="col-md-2">
            <div class="panel panel-default">
                <div class="ztree panel-body" id="treeDemo"> </div>
            </div>
        </div> -->
        <div class="col-md-10" id="contentBody">
            
        </div>
    </div>
<%- include footer %>
