<%- include header %>
<div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked" id="sidebar">
            </ul>
        </div>
        <!-- <div class="col-md-2">
            <div class="panel panel-default">
                <div class="ztree panel-body" id="treeDemo"> </div>
            </div>
        </div> -->
        <div class="col-md-10" id="contentBody">
            <!-- <table class="table table-bordered">
                <caption>核销结果单</caption>
                <thead>
                    <tr>
                        <th>借款人</th>
                        <th>借款金额</th>
                        <th>报销金额</th>
                        <th>核销结果</th>
                        <th>核销时间</th>
                        <th>核销人员</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>White</td>
                        <td>7650.594</td>
                        <td>4380.256</td>
                        <td>4632.853</td>
                        <td>2014-01-30</td>
                        <td>Martinez</td>
                        <td>未通过</td>
                    </tr>
                
                    <tr>
                        <td>Thomas</td>
                        <td>8514.664</td>
                        <td>483.62</td>
                        <td>6322.946</td>
                        <td>2000-11-20</td>
                        <td>Robinson</td>
                        <td>已通过</td>
                    </tr>
                
                    <tr>
                        <td>Brown</td>
                        <td>2768.992</td>
                        <td>2733.61</td>
                        <td>9922.64</td>
                        <td>1980-11-26</td>
                        <td>Gonzalez</td>
                        <td>待审批</td>
                    </tr>
                </tbody>    
            </table> -->
        </div>
    </div>
<%- include footer %>
